---
import { IoMdClose } from "react-icons/io/index"
import { IoIosHeartEmpty } from "react-icons/io/index";
import { IoBagOutline, IoSearchOutline } from "react-icons/io5/index";
import { PiUserCircle } from "react-icons/pi/index";

import "../css/main.css";
---

<div
  id="--scrphotography-hamburger-menu"
  class="navbar-home block visible text-gray-900 bg-white m-0 fixed w-60 h-screen top-0 pt-7 ps-4 pe-7 z-30 -right-60 translate-x-0 transition-transform duration-300"
>
  {/* class+="lg:collapse lg:hidden lg:m-auto lg:static lg:w-auto lg:h-auto lg:top-auto lg:p-0 lg:z-auto lg:right-auto lg:translate-x-0" */}
  <div class="w-full h-auto z-20 cursor-pointer flex justify-end" data-hamburger-menu-action="toggle">
    <IoMdClose className="text-2xl lg:text-4xl hover:scale-110 transition duration-300 text-black" style={{color: "black"}} />
  </div>
  <ul class="flex items-start mt-2 px-2 flex-col">
    <li class="my-2.5">
      <a
        href="/exponencia-tu-proyecto"
        class="text-xl font-bold hover:text-red-500 hover:transition-all duration-300 m-0"
      >
        <div class="flex items-center">
          <span class="pe-3"><IoSearchOutline /></span>
          <span>Buscar</span>
        </div>
      </a>
    </li>
    <li class="my-2.5">
      <a
        href="/exponencia-tu-proyecto"
        class="text-xl font-bold hover:text-red-500 hover:transition-all duration-300 m-0"
      >
        <div class="flex items-center">
          <span class="pe-3"><IoBagOutline /></span>
          <span>Bolsa de compra</span>
        </div>
      </a>
    </li>
    <li class="my-2.5">
      <a
        href="/exponencia-tu-proyecto"
        class="text-xl font-bold hover:text-red-500 hover:transition-all duration-300 m-0"
      >
        <div class="flex items-center">
          <span class="pe-3"><PiUserCircle /></span>
          <span>Perfil</span>
        </div>
      </a>
    </li>
    <li class="my-2.5">
      <a
        href="/exponencia-tu-proyecto"
        class="text-xl font-bold hover:text-red-500 hover:transition-all duration-300 m-0"
      >
        <div class="flex items-center">
          <span class="pe-3"><IoIosHeartEmpty /></span>
          <span>Favoritos</span>
        </div>
      </a>
    </li>
  </ul>
</div>
<div
  class="visible fixed top-0 left-0 w-full h-screen z-20 bg-[rgba(0,0,0,0.5)] hidden"
  id="--scrphotography-hamburger-back"
>
  {/* class+="lg:collapse lg:static lg:top-auto lg:left-auto lg:w-auto lg:h-auto lg:z-auto" --> */}
</div>
<script>
  let stateMobileMenuOpen: boolean = false;

  let __c2dev_hamburger_back!: HTMLElement;
  let __c2dev_hamburger_menu!: HTMLElement;

  const hamburgerMenu = (() => {
    const _updateHamburgerMenu = (stateMobileOpen: boolean) => {
      const __inner = (isOpen: boolean) => {
        const backVis = (isOpen: boolean) => {
          return isOpen ? "block" : "hidden";
        };
        const navVis = (isOpen: boolean) => {
          return isOpen ? "-translate-x-60" : "translate-x-0";
        };

        __c2dev_hamburger_back.classList.replace(
          backVis(!isOpen),
          backVis(isOpen)
        );
        __c2dev_hamburger_menu.classList.replace(
          navVis(!isOpen),
          navVis(isOpen)
        );
      };

      __inner(stateMobileOpen);
      return stateMobileOpen;
    };
    const toggle = () => {
      stateMobileMenuOpen = _updateHamburgerMenu(!stateMobileMenuOpen);
    };
    const close = () => {
      stateMobileMenuOpen = false;
      _updateHamburgerMenu(false);
    };
    const open = () => {
      stateMobileMenuOpen = true;
      _updateHamburgerMenu(true);
    };

    return { toggle: toggle, close: close, open: open };
  })();

  document.addEventListener("DOMContentLoaded", (_event) => {
    __c2dev_hamburger_back = document.getElementById(
      "--scrphotography-hamburger-back"
    )!!;
    __c2dev_hamburger_menu = document.getElementById(
      "--scrphotography-hamburger-menu"
    )!!;

    __c2dev_hamburger_back.addEventListener("click", hamburgerMenu.close);

    document.querySelectorAll("[data-hamburger-menu-action='open']")!!.forEach(element => {
      element.addEventListener("click", hamburgerMenu.open);
    });
    document.querySelectorAll("[data-hamburger-menu-action='toggle']")!!.forEach(element => {
      element.addEventListener("click", hamburgerMenu.toggle);
    });
  });
</script>
