---
interface Props {
  images: { src: string; w: number; h: number }[];
}

const { images } = Astro.props;
---

<div id="app">
  <div class="pswp-gallery grid grid-cols-3 p-20 gap-10" id="my-gallery">
    {images.map((image) => (
      <a
        href={image.src}
        data-pswp-width={image.w}
        data-pswp-height={image.h}
        data-cropped="true"
        target="_blank"
        class="flex items-center justify-center"
      >
        <img
          src={image.src}
          alt=""
        />
      </a>
    ))}
  </div>
</div>
<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  import "photoswipe/style.css";

  const lightbox = new PhotoSwipeLightbox({
    gallery: "#my-gallery",
    children: "a",
    pswpModule: () => import("photoswipe"),
  });

  lightbox.init();
</script>